html,
body {
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  text-align: center;
}
body.error {
  background: radial-gradient(calc(50vmin + 50vmax) at top right, #310, #000);
}
body.error.refreshing {
  background: radial-gradient(calc(50vmin + 50vmax) at top right, #210, #000);
}

#history {
  font-size: 1.2em;
}
@media screen and (min-width: 600px) {
  #history {
    font-size: 1.5em;
  }
}
#history p {
  margin: 0.4em;
  line-height: 1.3;
}
#history p:last-of-type {
  font-size: 1.2em;
  padding: 1em 0;
}
@media screen and (min-width: 600px) and (min-height: 600px) {
  #history p:last-of-type {
    padding-bottom: 3em;
  }
}

#history .changed {
  color: #efb;
}

#history .replace {
  color: #ffa;
}
#history .delete {
  color: #f00;
  text-decoration: line-through;
  display: none;
}
#history .insert {
  color: #bfb;
}
#history .equal {
  color: #eee;
}

#connection-quality {
  position: fixed;
  top: 1em;
  right: 1em;
  min-width: 3em;
  min-height: 4em;
  background: rgba(0,0,0, .5);
  font-family: monospace;
  font-size: .8em;
}
#connection-quality i {
  display: block;
  min-width: 4em;
  min-height: 4em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#connection-quality.disconnected i {
  background-image: url('../img/disconnected.svg');
}
#connection-quality.extremely-slow i {
  background-image: url('../img/extremely-slow.svg');
}
#connection-quality.slow i {
  background-image: url('../img/slow.svg');
}
#connection-quality.medium i {
  background-image: url('../img/medium.svg');
}
#connection-quality.fast i {
  background-image: url('../img/fast.svg');
}
