html,
body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  text-align: center;
}
body.error {
  background: radial-gradient(calc(50vmin + 50vmax) at bottom, #310, #000);
}
body.error.refreshing {
  background: radial-gradient(calc(50vmin + 50vmax) at bottom, #210, #000);
}

#recognition {
  color: #ddf;
}
#recognition.final {
  color: #080;
  font-style: italic;
}

#connection-quality {
  position: fixed;
  top: 1em;
  right: 1em;
  min-width: 3em;
  min-height: 4em;
  background: rgba(0,0,0, .5);
  font-family: monospace;
  font-size: .8em;
}
#connection-quality i {
  display: block;
  min-width: 4em;
  min-height: 4em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#connection-quality.disconnected i {
  background-image: url('../img/disconnected.svg');
}
#connection-quality.extremely-slow i {
  background-image: url('../img/extremely-slow.svg');
}
#connection-quality.slow i {
  background-image: url('../img/slow.svg');
}
#connection-quality.medium i {
  background-image: url('../img/medium.svg');
}
#connection-quality.fast i {
  background-image: url('../img/fast.svg');
}

#transcript p {
  margin: 0;
  text-align: left;
  font-family: monospace;
  line-height: 1.5;
  color: #ddd;
}
#transcript span:first-of-type {
  float: left;
  padding-right: 1em;
  opacity: .9;
}
#transcript label {
  display: flex;
}
#transcript textarea {
  box-sizing: border-box;
  padding: 0;
  flex-grow: 1;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

#transcript p:hover {
  background: #222;
}
#transcript p:focus-within {
  background: #334;
  color: #fff;
}

#transcript p.changed {
  background: #330;
}
#transcript p.pending {
  background: #220;
}
