html,
body {
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  text-align: center;
}
body.error {
  background-image: radial-gradient(calc(50vmin + 50vmax) at top right, #310, #000);
}
body.error.refreshing {
  background-image: radial-gradient(calc(50vmin + 50vmax) at top right, #210, #000);
}

#recognition {
  color: #ddf;
}
#recognition.final {
  color: #080;
  font-style: italic;
}
#recognition.long {
  color: #eeb;
}

footer.keys {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}
footer.keys > div {
  padding: 0.5em;
  flex-grow: 1;
  text-wrap: nowrap;
  color: #eee;
  cursor: pointer;
}
footer.keys > div.alert {
  color: #fed;
}
footer.keys > div:hover, footer.keys > div:active {
  color: #ffe;
}
footer.keys > div.pressed {
  color: #fff;
}
footer.keys code {
  padding: .2em .5em;
  border: .1em solid #888;
  border-radius: .4em;
  background-color: #333;
}
footer.keys > div.alert code {
  border-color: #ff8;
  background-color: #443;
  animation: alert 1s linear infinite;
}
footer.keys > div:hover code, footer.keys > div:active code {
  border-color: #fff;
  background-color: #445;
}
footer.keys > div.pressed code {
  border-color: #fff;
  background-color: #556;
}

@keyframes alert {
  0% {
    border-color: #d88;
    background-color: #433;
  }
  10% {
    border-color: #fd8;
    background-color: #443;
  }
  50% {
    border-color: #fd8;
    background-color: #443;
  }
  60% {
    border-color: #d88;
    background-color: #433;
  }
  100% {
    border-color: #d88;
    background-color: #433;
  }
}

#version {
  position: fixed;
  top: .1em;
  left: .5em;
  background-color: rgba(0,0,0, .5);
  font-size: .8em;
  color: #aaa;
  z-index: 100;
}

#connection-quality {
  position: fixed;
  top: 1em;
  right: 1em;
  min-width: 3em;
  min-height: 4em;
  background-color: rgba(0,0,0, .5);
  font-family: monospace;
  font-size: .8em;
  z-index: 100;
}
#connection-quality i {
  display: block;
  min-width: 4em;
  min-height: 4em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#connection-quality.disconnected i {
  background-image: url('../img/disconnected.svg');
}
#connection-quality.extremely-slow i {
  background-image: url('../img/extremely-slow.svg');
}
#connection-quality.slow i {
  background-image: url('../img/slow.svg');
}
#connection-quality.medium i {
  background-image: url('../img/medium.svg');
}
#connection-quality.fast i {
  background-image: url('../img/fast.svg');
}

#transcript {
  padding: 1em 0;
}

#transcript p[tid] {
  position: relative;
  margin: 0;
  padding: 0 .5em;
  text-align: left;
  font-family: monospace;
  line-height: 1.5;
  color: #ddd;
  border: 1px solid #888;
  border-left: 0;
  border-right: 0;
  margin-top: -1px;
  z-index: 0;
}
#transcript span:first-of-type {
  float: left;
  padding-right: 1em;
  opacity: .9;
}
#transcript label {
  display: flex;
}
#transcript textarea {
  box-sizing: border-box;
  padding: 0;
  flex-grow: 1;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

#transcript p[tid]:nth-of-type(even) {
  background-color: #161616;
  z-index: 1;
}

#transcript p:hover {
  background-color: #222 !important;
  position: relative;
  z-index: 2;
}
#transcript p:focus-within {
  background-color: #334 !important;
  color: #fff;
}

#transcript p.changed {
  background-color: #330;
}
#transcript p.pending {
  background-color: #220;
}
