<!doctype html>
<html ontouchmove>
<head>
  <meta charset="utf-8">
  <title>Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/source.css">

  <link rel="preload" href="img/fast.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="img/medium.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="img/slow.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="img/extremely-slow.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="img/disconnected.svg" as="image" type="image/svg+xml" />
</head>

<body>
  <div id="version">
    <span id="client" data-src="version.json"></span>
    <span id="server"></span>
  </div>
  <div id="connection-quality">
    <i></i>
    <span></span>
  </div>
  <div id="transcript"></div>
  <div id="recognition"></div>
  <footer class="keys">
  </footer>

  <script src="js/utils.js"></script>
  <script src="js/transcript.js"></script>
  <script src="js/websocket.js"></script>
  <script src="js/keyhints.js"></script>
  <script src="js/editor.js"></script>

</body>
</html>
