<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/reader.css">
</head>

<body>
  <div id="connection-quality">
    <i></i>
    <span></span>
  </div>
  <div id="history" class="hintdelete">
  </div>

  <script src="js/utils.js"></script>
  <script src="js/diff.js"></script>
  <script src="js/transcript.js"></script>
  <script src="js/websocket.js"></script>
  <script src="js/reader.js"></script>

</body>
</html>
